.recipe-form {
  padding: 10%;
  input {
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  textarea {
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-bottom: 3%;
  }
  button {
    display: block;
    width: 20%;
    margin: 0 auto;
  }
}
